:root {
    font-family: "Open Sans", Arial, sans-serif;
    --color: #444;
    --background-color: #eee;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #eee;
        --background-color: #444;
    }

    a {
        color: #1e90ff; /* Light blue */
        text-decoration: none; /* Remove underline if desired */
    }

    a:hover {
        color: #00bfff; /* Lighter blue for hover state */
        text-decoration: underline; /* Underline on hover */
    }
}

body {
    color: var(--color);
    background-color: var(--background-color);
    margin: 40px auto;
    max-width: 50rem;
    line-height: 1.6;
    padding: 0;
}

img,
video {
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap-3 {
    gap: 1em;
}

.mt-3 {
    margin-top: 1rem;
}

.profile-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--color);

    .profile-picture {
        max-height: 65px;
    }

    h1 {
        margin: 0;
    }
}

.post-preview {
    display: flex;
    gap: 1em;
    height: 10em;

    color: var(--color);
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    > img {
        object-fit: cover;
        width: 25%;
    }

    .post-preview-info {
        width: 75%;
        display: flex;
        flex-direction: column;

        .subtitle {
            text-overflow: ellipsis;
            flex-grow: 1;
        }

        .post-preview-data {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            font-size: 0.85em;
        }
    }

    &:not(&:first-child) {
        border-top: 1px solid var(--color);
    }

    &:hover {
        color: var(--color);
    }
}

.post-profile {
    display: flex;
    align-items: center;

    & img {
        height: 60px;
    }

    .details {
        flex-grow: 1;
        display: grid;
        grid-template-columns: auto auto;
    }
}

.center {
    display: flex;
    justify-content: center;
}

.next-prev {
    display: flex;
    justify-content: space-between;
}

figure {
    margin: 0;

    figcaption {
        font-style: italic;
    }
}
