<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/assets/main.css" />
        <title>{{ creator.name }}</title>
    </head>

    <body>
        <a
            class="d-flex gap-3 profile-header"
            href="/user/{{creator.username}}/posts"
        >
            <h1>{{ creator.name }}</h1>
            <img
                class="profile-picture"
                src="https://miro.medium.com/v2/resize:fit:240/{{ creator.image_id}}"
                alt="{{creator.name}} profile picture"
            />
        </a>
        <div class="mt-3">
            {% for post in post_previews %} {{ post|escape("none")}} {% endfor
            %}
        </div>
        <hr />
        <div class="next-prev">
            {% if let Some(previous) = paging_info.previous %}
            <a href="?from={{previous.from}}"> Prev </a>
            {% else %}
            <a href="?"> Home </a>
            {% endif %} {% if let Some(next) = paging_info.next %}
            <a href="?from={{next.from}}"> Next → </a>
            {% endif %}
        </div>
    </body>
</html>
